
*.swp

src/borner

dist/scripts/content.js
dist/scripts/background.js
dist/scripts/worker.js
dist/styles/theme.css

dist/node_modules
dist/node_modules/**
dist/node_modules/**/
dist/releases
dist/releases/**
dist/releases/**/

