
*.swp
*.map

src/borner

dist/scripts/content.js
dist/scripts/background.js
dist/scripts/worker.js
dist/scripts/lib/*.js
dist/styles/theme.css

dist/node_modules
dist/node_modules/**
dist/node_modules/**/
dist/releases
dist/releases/**
dist/releases/**/
dist/installers/*
dist/buildscripts/*.js

dist/pack.js

dist/scripts/server\.js
