
*.swp
*.map

src/borner

dist/scripts/content*.js
dist/scripts/background*.js
dist/scripts/worker*.js
#dist/scripts/all-libs*.js
dist/scripts/server*.js
dist/scripts/lib/*.js
dist/styles/theme.css

dist/node_modules
dist/node_modules/**
dist/node_modules/**/
dist/releases
dist/releases/**
dist/releases/**/
dist/installers/*
dist/buildscripts/*.js

dist/pack.js

dist/_thumbs/

dist/pack

dist/styles/pman\.css

dist/scripts/process\.worker\.js

dist/scripts/diskprobe\.worker\.js

dist/scripts/bgdb\.worker\.js

src/res/test_script\.js
